<a href="https://colab.research.google.com/github/Deelia99/dataset/blob/main/Copy_of_Assignment_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment: Exploratory Data Analysis using Python

This is the starter notebook for the case study project. You will pick a real-world dataset of your choice and apply the concepts learned in this course to perform exploratory data analysis. Use this starter notebook as an outline for your project . Focus on documentation and presentation - this Jupyter notebook will also serve as a project report, so make sure to include detailed explanations wherever possible using Markdown cells.

## Exploratory Data Analysis
According to Wikipedia, EDA “is an approach to analyzing datasets to summarize their main characteristics, often with visual methods”. In my own words, it is about knowing your data, gaining a certain amount of familiarity with the data, before one starts to extract insights from it.

Since EDA is such a crucial initial step for all data science projects, the lazy me decided to write a code template for performing EDA on structured datasets. The idea is to spend less time coding and focus more on the analysis of data itself. Scroll down to the bottom for the link to the code, but do read on to find out more about EDA and understand what the code does. More information related to EDA --> [Exploratory Data Analysis: A Practical Guide and Template for Structured Data](https://towardsdatascience.com/exploratory-data-analysis-eda-a-practical-guide-and-template-for-structured-data-abfbf3ee3bd9)


![EDA](https://drive.google.com/uc?export=view&id=1GUl7SVxNv_KUIUrDVa048SyqPUbn9w5M)


### Submission
1.   This exercise must be completed in pairs (2 students in a group).
2.   You need to send the *.pynb file. Make sure you have linked Google Colab with your dataset (Github). 
3.   Please link to your Google Colab file.<a href="https://www.utm.my" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
4.   Please submit it via e-learning.

### Evaluation Criteria

Your submission will be evaluated using the following criteria:

* Dataset must contain at least 5 columns and 1500 rows of data
* You must ask and answer at least 5 questions about the dataset
* Your submission must include at least 5 visualizations (graphs)
* Your submission must include explanations using markdown cells, apart from the code.
* Your work must not be plagiarized i.e. copy-pasted from somewhere else.


Follow this step-by-step guide to work on your project.

### Step 1: Select a real-world dataset 

- The Malaysian dataset must be used for your case study.
- The dataset is available at:
  * [Portal Data Terbuka Malaysia](https://www.data.gov.my/data/ms_MY/dataset)
  * [Department of Statistics Malaysia](https://www.dosm.gov.my/v1/index.php?r=column3/accordion&menu_id=amZNeW9vTXRydTFwTXAxSmdDL1J4dz09)
  * [data.world](https://data.world/datasets/malaysia)
  * [Dataportal.asia](https://dataportal.asia/dataset?vocab_economy_names=Malaysia)
  *[knoema](https://knoema.com/atlas/Malaysia/datasets)
  *[The World Bank](https://data.worldbank.org/country/MY)
  * [Dataset Search - Google](https://datasetsearch.research.google.com/)
  * [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets.php)
  * [Kaggle datasets](https://www.kaggle.com/datasets)
  * [Awesome-public-datasets](https://github.com/awesomedata/awesome-public-datasets)
  * [Datahub.io](https://datahub.io/collections)
  * [Earthdata](https://www.earthdata.nasa.gov/)
  * [CERN Open Data Portal](http://opendata.cern.ch/)

### Step 2: Perform data preparation & cleaning

- Load the dataset into a data frame using Pandas
- Explore the number of rows & columns, ranges of values etc.
- Handle missing, incorrect and invalid data
- Perform any additional steps (parsing dates, creating additional columns, merging multiple dataset etc.)


### Step 3: Perform exploratory analysis & visualization

- Compute the mean, sum, range and other interesting statistics for numeric columns
- Explore distributions of numeric columns using histograms etc.
- Explore relationship between columns using scatter plots, bar charts etc.
- Make a note of interesting insights from the exploratory analysis

### Step 4: Ask & answer questions about the data

- Ask at least 4 interesting questions about your dataset
- Answer the questions either by computing the results using Numpy/Pandas or by plotting graphs using Matplotlib/Seaborn
- Create new columns, merge multiple dataset and perform grouping/aggregation wherever necessary
- Wherever you're using a library function from Pandas/Numpy/Matplotlib etc. explain briefly what it does


### Step 5: Summarize your inferences & write a conclusion

- Write a summary of what you've learned from the analysis
- Include interesting insights and graphs from previous sections
- Share ideas for future work on the same topic using other relevant datasets
- Share links to resources you found useful during your analysis

### Step 6: Make a submission

- Upload your notebook to e-learning.


### Example Projects

Refer to these projects for inspiration:

* [Malaysia Immunisation Progress](https://www.kaggle.com/code/koayhongvin/malaysia-immunisation-progress)

* [Malaysia Crop EDA](https://www.kaggle.com/code/nazihahnajla/malaysia-crop-eda)

* [ASEAN Democracy Index EDA](https://www.kaggle.com/code/aradinka/asean-democracy-index-eda)

* [Men's International Football Analysis](https://www.kaggle.com/code/rittickchakraborty/men-s-international-football-analysis) 

* [Data Science Job Salaries Analysis with Python](https://www.kaggle.com/code/muliasujiastuti/data-science-job-salaries-analysis-with-python)

* [Alteration in Technology and Job Role in 2022
](https://www.kaggle.com/code/summerakousar/alteration-in-technology-and-job-role-in-2022)

* [Data Cleaning Challenge: Inconsistent Data Entry](https://www.kaggle.com/code/melanieng/data-cleaning-challenge-inconsistent-data-entry#Get-our-environment-set-up)

**NOTE**: Remove this cell containing the instructions before making your submission. You can do using the "Edit > Delete Cells" menu option.

# Project Title - change this <a href="https://www.utm.my" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TODO - Write some introduction about your project here: describe the dataset, where you got it from, what you're trying to do with it, and which tools & techniques you're using. Please provide your group member name and their matrix number.

## Downloading the Dataset

**TODO** - add some explanation here


> Instructions for downloading the dataset (delete this cell) - Dataset in Gi

Let's begin by downloading the data, and listing the files within the dataset.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/Deelia99/dataset/main/m-20221201054019_202212010540360_2021-gunatanah_tampin.csv')

data.tail(10)

,DAERAH,PIHAK BERKUASA TEMPATAN,ID MUKIM,GUNA TANAH 1,GUNA TANAH 2,GUNA TANAH 3,NAMA,LUAS (HEKTAR),KOD GTN,LOT TANAH
54262,TAMPIN,MAJLIS DAERAH TAMPIN,50604,Pertanian,Tanaman,Tanah tidak diusahakan,<Null>,0.004755,PT126,<Null>
54263,TAMPIN,MAJLIS DAERAH TAMPIN,50674,Pengangkutan,Jalan,Jalan Lain,CHONG CHE KIN,0.153648,IPG405,9048&9049
54264,TAMPIN,MAJLIS DAERAH TAMPIN,50674,Komersial,Teres,Kedai,CHONG CHE KIN,0.016234,TPK101,9048&9049
54265,TAMPIN,MAJLIS DAERAH TAMPIN,50674,Pengangkutan,Jalan,Jalan Lain,CHONG CHE KIN,0.012097,IPG405,9048&9049
54266,TAMPIN,MAJLIS DAERAH TAMPIN,50674,Infrastruktur dan Utiliti,Bekalan Elektrik,Pencawang Elektrik (PE),CHONG CHE KIN,0.004005,IFU110,9048&9049
54267,TAMPIN,MAJLIS DAERAH TAMPIN,50674,Pengangkutan,Jalan,Jalan Lain,CHONG CHE KIN,0.001418,IPG405,9048&9049
54268,TAMPIN,MAJLIS DAERAH TAMPIN,50674,Komersial,Teres,Kedai,CHONG CHE KIN,0.012281,TPK101,9048&9049
54269,TAMPIN,MAJLIS DAERAH TAMPIN,50674,Komersial,Teres,Kedai,CHONG CHE KIN,0.013667,TPK101,9048&9049
54270,TAMPIN,MAJLIS DAERAH TAMPIN,50674,Komersial,Teres,Kedai,CHONG CHE KIN,0.013750,TPK101,9048&9049
54271,TAMPIN,MAJLIS DAERAH TAMPIN,50674,Komersial,Teres,Kedai,CHONG CHE KIN,0.014475,TPK101,9048&9049

The dataset has been downloaded and extracted.

In [ ]:
df=data
df=df.replace({'<Null>':np.NaN})

df.tail(20)

In [ ]:
#"College"].fillna("No College", inplace = True)
a=df['LUAS (HEKTAR)'].mean()
print("%.4f" % a)
df["LUAS (HEKTAR)"].fillna(1.5679, inplace = True)

1.5679

Next step

In [ ]:
#df['LUAS (HEKTAR)'].isna().sum()
print(df['GUNA TANAH 1'].isna().sum())
#df.info(54272)

0

In [ ]:
print(df.duplicated(subset='LUAS (HEKTAR)'))
print(df.duplicated().sum())

0        False
1        False
2        False
3        False
4        False
         ...
54267    False
54268    False
54269    False
54270    False
54271    False
Length: 54272, dtype: bool
243

In [ ]:
 df.drop_duplicates( keep='last')
df.tail(5)
count_nan = len(df) - df.count()
count_nan
df.head(5)
print(df['LOT TANAH']..sum())

,DAERAH,PIHAK BERKUASA TEMPATAN,ID MUKIM,GUNA TANAH 1,GUNA TANAH 2,GUNA TANAH 3,NAMA,LUAS (HEKTAR),KOD GTN,LOT TANAH
0,TAMPIN,MAJLIS DAERAH TAMPIN,50602,Badan Air,Semula Jadi,Sungai,Tidak Diketahui,1.267502,BA101,654
1,TAMPIN,MAJLIS DAERAH TAMPIN,50672,Perumahan,Perumahan Bukan Strata,Teres,Tidak Diketahui,0.021251,TRM203,13667
2,TAMPIN,MAJLIS DAERAH TAMPIN,50672,Perumahan,Perumahan Bukan Strata,Teres,Tidak Diketahui,0.021251,TRM203,13668
3,TAMPIN,MAJLIS DAERAH TAMPIN,50672,Perumahan,Perumahan Bukan Strata,Teres,Tidak Diketahui,0.011148,TRM203,13669
4,TAMPIN,MAJLIS DAERAH TAMPIN,50672,Perumahan,Perumahan Bukan Strata,Teres,Tidak Diketahui,0.011150,TRM203,13670

In [ ]:
df.dropna(thresh=2)

,DAERAH,PIHAK BERKUASA TEMPATAN,ID MUKIM,GUNA TANAH 1,GUNA TANAH 2,GUNA TANAH 3,NAMA,LUAS (HEKTAR),KOD GTN,LOT TANAH
0,TAMPIN,MAJLIS DAERAH TAMPIN,50602,Badan Air,Semula Jadi,Sungai,NaN,1.267502,BA101,654
1,TAMPIN,MAJLIS DAERAH TAMPIN,50672,Perumahan,Perumahan Bukan Strata,Teres,NaN,0.021251,TRM203,13667
2,TAMPIN,MAJLIS DAERAH TAMPIN,50672,Perumahan,Perumahan Bukan Strata,Teres,NaN,0.021251,TRM203,13668
3,TAMPIN,MAJLIS DAERAH TAMPIN,50672,Perumahan,Perumahan Bukan Strata,Teres,NaN,0.011148,TRM203,13669
4,TAMPIN,MAJLIS DAERAH TAMPIN,50672,Perumahan,Perumahan Bukan Strata,Teres,NaN,0.011150,TRM203,13670
...,...,...,...,...,...,...,...,...,...,...
54267,TAMPIN,MAJLIS DAERAH TAMPIN,50674,Pengangkutan,Jalan,Jalan Lain,CHONG CHE KIN,0.001418,IPG405,9048&9049
54268,TAMPIN,MAJLIS DAERAH TAMPIN,50674,Komersial,Teres,Kedai,CHONG CHE KIN,0.012281,TPK101,9048&9049
54269,TAMPIN,MAJLIS DAERAH TAMPIN,50674,Komersial,Teres,Kedai,CHONG CHE KIN,0.013667,TPK101,9048&9049
54270,TAMPIN,MAJLIS DAERAH TAMPIN,50674,Komersial,Teres,Kedai,CHONG CHE KIN,0.013750,TPK101,9048&9049
54271,TAMPIN,MAJLIS DAERAH TAMPIN,50674,Komersial,Teres,Kedai,CHONG CHE KIN,0.014475,TPK101,9048&9049

In [ ]:
df["NAMA"].fillna("Tidak Diketahui", inplace = True)
df.head(10)

In [ ]:
#Drop rows that has NaN values on selected column
df2=df.dropna(subset=['ID MUKIM','KOD GTN'])

<ipython-input-43-f9bf1283b446>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2=df.dropna(subset=['ID MUKIM','KOD GTN']).sum()

In [ ]:
print(df['DAERAH'].value_counts())

print(df['PIHAK BERKUASA TEMPATAN'].value_counts())

print(df['GUNA TANAH 1'].value_counts())

print(df['GUNA TANAH 2'].value_counts())
print(df['GUNA TANAH 3'].value_counts())
print(df['NAMA'].value_counts())

TAMPIN    54272
Name: DAERAH, dtype: int64
MAJLIS DAERAH TAMPIN    54272
Name: PIHAK BERKUASA TEMPATAN, dtype: int64
Pertanian                             23634
Perumahan                             23194
Komersial                              2889
Tanah Kosong                           1345
Pengangkutan                            974
Institusi dan Kemudahan Masyarakat      621
Badan Air                               600
Industri                                389
Tanah Lapang dan Rekreasi               282
Infrastruktur dan Utiliti               272
Hutan                                    72
Name: GUNA TANAH 1, dtype: int64
Tanaman                             23564
Perumahan Bukan Strata              16899
Kampung                              6273
Teres                                2796
Tanah Pembangunan                    1273
Jalan                                 844
Semula Jadi                           600
Taman Perindustrian                   317
Tanah Lapang                          198
Pendidikan                            148
Bekalan Elektrik                      132
Pengangkutan Darat                    130
Keagamaan                             120
Perkuburan                             92
Keselamatan                            83
Kemudahan Awam                         80
Kawasan Hijau                          77
Hutan Simpan Kekal                     72
Tanah Tidak Diusahakan                 72
Bangunan Sesebuah                      71
Penternakan                            63
Kegunaan Kerajaan/Badan Berkanun       54
Bekalan Air                            52
Pembetungan                            51
Bukan Taman Perindustrian              45
Kesihatan                              32
Perlombongan/Kuari                     27
Kegunaan Khusus                        21
Perumahan Strata                       20
Pengairan dan Perparitan               19
Telekomunikasi                         14
Rumah Persatuan/Pertubuhan             11
Akuakultur                              7
Kemudahan Sukan dan Rekreasi            7
Pelupusan Sisa Pepejal                  4
Setinggan                               2
Rumah Kebajikan                         1
Pembangunan Penggunaan Bercampur        1
Name: GUNA TANAH 2, dtype: int64
Teres                                                    16314
Getah                                                    13730
Tanah tidak diusahakan                                    4751
Petempatan Tanah Rancangan FELDA/FELCRA/RISDA             4624
Kelapa Sawit                                              2905
                                                         ...
Kuarters Kerajaan : Sesebuah/Teres/ Berbilang Tingkat        1
Pembuatan Produk Makanan                                     1
Rumah Kebajikan Lain                                         1
Terminal/Stesen Keretapi/Rel                                 1
Pembuatan Logam dan Produk Logam                             1
Name: GUNA TANAH 3, Length: 132, dtype: int64
Tidak Diketahui                          51932
FELDA SUNGAI KELAMAH                       428
TAMAN SUNGAI GEMAS                         254
Felda Pasir Besar (Generasi Ke2)           132
Kawasan Industri Kecil Repah               129
                                         ...
PEJABAT RISDA NEGERI SEMBILAN SELATAN        1
BALAI RASMI YM BESAR TUNKU TAMPIN            1
HOSPITAL TAMPIN                              1
TANAH PERKUBURAN KRISTIAN TAMPIN             1
GERAI MAKAN                                  1
Name: NAMA, Length: 556, dtype: int64

## Data Preparation and Cleaning

**TODO** - Write some explanation here.

> Instructions (delete this cell):
>
> - Load the dataset into a data frame using Pandas
> - Explore the number of rows & columns, ranges of values etc.
> - Handle missing, incorrect and invalid data
> - Perform any additional steps (parsing dates, creating additional columns, merging multiple dataset etc.)

## Exploratory Analysis and Visualization

**TODO** - write some explanation here.

> Instructions (delete this cell)
> 
> - Compute the mean, sum, range and other interesting statistics for numeric columns
> - Explore distributions of numeric columns using histograms etc.
> - Explore relationship between columns using scatter plots, bar charts etc.
> - Make a note of interesting insights from the exploratory analysis

Let's begin by importing`matplotlib.pyplot` and `seaborn`.

In [ ]:
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (9, 5)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

**TODO** - Explore one or more columns by plotting a graph below, and add some explanation about it

## Asking and Answering Questions

TODO - write some explanation here.

> Instructions (delete this cell)
>
> - Ask at least 5 interesting questions about your dataset
> - Answer the questions either by computing the results using Numpy/Pandas or by plotting graphs using Matplotlib/Seaborn
> - Create new columns, merge multiple dataset and perform grouping/aggregation wherever necessary
> - Wherever you're using a library function from Pandas/Numpy/Matplotlib etc. explain briefly what it does

#### Q1: TODO - ask a question here and answer it below

#### Q2: TODO - ask a question here and answer it below

#### Q3: TODO - ask a question here and answer it below

#### Q4: TODO - ask a question here and answer it below

#### Q5: TODO - ask a question here and answer it below

## Inferences and Conclusion

**TODO** - Write some explanation here: a summary of all the inferences drawn from the analysis, and any conclusions you may have drawn by answering various questions.

## References and Future Work

**TODO** - Write some explanation here: ideas for future projects using this dataset, and links to resources you found useful.

> Submission Instructions (delete this cell)
> 
> - Upload your notebook to E-learning